# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
*.env
.env.*

# Flask cache
instance/

# Images
static/uploads/

# Sons
static/sounds/

# Not needed by the project;
utils/image*

# Migrations
migrations/
